<div class="text-center">
    <div class="row">

    </div>
    <div class="row" id="cardRow">
        <div class="col-12">
            @await Html.PartialAsync("~/Views/Shared/VideoPoker/_CardRow.cshtml")
            <button id="deal">Deal</button>
        </div>
    </div>
</div>

<script src="~/js/JacksOrBetter.js"></script>