<div class="text-center">
    <div class="row">

    </div>
    <div class="row" id="cardRow">
        @await Html.PartialAsync("~/Views/Shared/VideoPoker/_CardRow.cshtml", new ViewModels.VideoPokerCardsViewModel())
    </div>
    <div class="row">
        <div class="col-12">
            <button id="dealButton">Deal</button>
            <button class="d-none" id="drawButton">Draw</button>
        </div>
    </div>
</div>

<script src="~/js/JacksOrBetter.js"></script>