@model ViewModels.VideoPokerGameViewModel

<table id="payTable">
    <thead></thead>
    <tbody>
        @if (Model.PayTable != null)
        {
            @foreach (var entry in Model.PayTable)
            {
                <tr class="payTableRow">
                    <td class="winnerTypeEntry" winnerType="@entry.WinnerType">@Models.EnumExtensions.GetDisplayName(entry.WinnerType)</td>
                    @if (entry.Payouts != null)
                    {
                        @foreach (var payoutEntry in entry.Payouts)
                        {
                            <td class="payoutEntry" creditAmount="@payoutEntry.Key">@payoutEntry.Value</td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>